/* To make cards wrap */
.card-player {
  margin-bottom: 1rem !important;
  /* important hack for wrapping */
  min-width: 180px;
  max-width: 220px;
}

/* Styling for a 'card cover' that masks the card's attributes */
.card-hider {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rebeccapurple;
  z-index: 100;
  left: 0;
  top: 0;
  visibility: hidden;
}

.card-hider-hide {
  visibility: visible;
}

/* This is needed to ensure the card hider doesn't cover the card header (which has player info) */
.card-body {
  position: relative;
}